@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
  body {background-image: url('https://img.freepik.com/vector-gratis/pistones-realistas_1441-2751.jpg?w=740&t=st=1663103863~exp=1663104463~hmac=1c597793d2cf3a76a3e2d9cdccf5b0581683d9bc54564b854f1825147e5396be');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  }
</style>

<div class="text-center">
    <h4 class="display-4">BIENVENIDOS AL TALLER DEL EQUIPO 2 </h4> 
    <p>No busque más! Tenemos la solución para su vehículo <a href="https://docs.microsoft.com/aspnet/core">Contáctenos 01 8000 691 691</a>.</p>
    
</div>
