@page
@model PrivacyModel
@{
    ViewData["Title"] = "REGISTRO";
}
<style>
  body {background-image: url('https://img.freepik.com/foto-gratis/trabajador-servicio-coche-musculoso-reparando-vehiculo_146671-19605.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  }
</style>
<h1>@ViewData["Title"]</h1>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">USUARIOS</th>
      <th scope="col">N° CONTACTO</th>
      <th scope="col">FECHA DE NACIMIENTO</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
      <th scope="row">1098711</th>
      <td>Juan Larrotta</td>
      <td>6547890</td>
      <td>10 julio  1990</td>
    </tr>
    <tr>
      <th scope="row">1078572</th>
      <td>Jacobo lopez</td>
      <td>6543214</td>
      <td>19 agosto 1995</td>
    </tr>
    <tr>
      <th scope="row">1096345</th>
      <td>Laura Gomez</td>
      <td>6879034</td>
      <td>12 enero 1899</td>
    </tr>
     <tr>
      <th scope="row">1076541</th>
      <td>Dario Hernandez</td>
      <td>6453789</td>
      <td> 26 febrero 1998</td>
    </tr>
  </tbody>
</table>